body{
    background: cadetblue;
  
}
.paragrafo {
    color:rgb(68, 4, 17);
    text-align: justify;
}

a {
    list-style: none;
    text-decoration: none;
    
}
.menu-navegacao ul{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    padding: 40px;
    list-style-type: none;
  
     
}
button{
    width: 150px;
    height: 100px;
   
   
}
.imagem {
    display: flex;
   justify-content: center; 
}



/*HEADER*/

header, footer{
    background: chocolate;
}
header div h1 {
    color:darkred;
    display: flex;
    justify-content: center;
    font-size: 50px;
    
}

/*MAIN*/

#section1{

    color:green;
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}
#section2{
    color:blue;
    display: flex;
    justify-content: center;
    font-size: 30px;
    
}
#section3{
    color:darkgoldenrod;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

main section ul{

    list-style-type: none;
}

main section ul li{
    font-size: 20px;
}

#section4{
    color:darkviolet;
    display: flex;
    justify-content: center;
    font-size: 30px;
}

/*FOOTER*/


    

footer ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}